
.image_logo{
	 width: 60px;
     height: 60px;
}
.carousel-inner{
	 width: cover;
     height: 500px;
}
.trans{
	height: center;
	width: center;
}

.gold{
	height: center;
	width: center;
}
.pacif{
	height: center;
	width: center;
}

h1{
	 background-position: center;
	font-family: 'Bungee', cursive;
    padding: 70px;
}

